<!--
  Generated template for the MeetingAddParticipantsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Select present scouts</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="membersLoaded; else membersLoadFailed">
    <ion-list>
      <ion-item *ngFor="let member of chosenMembers">
        <ion-label>{{ member.member.forename }} {{ member.member.surname }}</ion-label>
        <ion-checkbox color="blue" [(ngModel)]="member.checked"></ion-checkbox>
      </ion-item>
    </ion-list>
    <button *ngIf="this.chosenMembersFiltered().length>0" ion-button (click)="logEvent($event)">
      Next
    </button>
  </div>
  <ng-template #membersLoadFailed>
    <div class="flb">
      <div class="Aligner-item Aligner-item--top"></div>
      <label>Sorry, we couldn't get the member list or the list is empty</label>
      <div class="Aligner-item Aligner-item--bottom"></div>
    </div>
  </ng-template>
</ion-content>
